# OS
.DS_Store
Thumbs.db

# files
.env

*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.zip
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Testing
htmlcov/
.coverage
.pytest_cache/

